<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This category doesn't exist </h1>
    <p>This is a 404 error</p>
<h4>The categories available are: </h4>
    <p> animal,
career,
celebrity,
dev,
explicit,
fashion,
food,
history,
money,
movie,
music,
political,
religion,
science,
sport and 
travel</p>

<form action="/searchJoke" Method="GET">
    <button>Search again</button>
</form>
</body>
</html>